@{
    ViewBag.Title = "Home Page";
}
<div class="backGround">
    <div class="companyName OneDay">Shar Group</div>
</div>
@* --------------------------------News------------------------------- *@
<div class="psk-title Yekan mt-5 mb-4">آخرین اخبار</div>

<div class="psk-cardWrapper">
    <section class="responsive slider">
        <div class="card">
            <img src="~/Image/News/home-1-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-2-268x182.jpg" />
            <div class="card-body" style="text-align:right;">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/Image/News/home-3-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-4-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-1-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-2-268x182.jpg" />
            <div class="card-body" style="text-align:right;">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-3-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-4-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-1-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-2-268x182.jpg" />
            <div class="card-body" style="text-align:right;">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-3-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
        <div class="card ">
            <img src="~/Image/News/home-4-268x182.jpg" />
            <div class="card-body">
                <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                <p class="card-text"><small class="text-muted news-ltxt">۲۹ فروردین</small> <small class="text-muted news-rtxt">نویسنده:ادمین</small></p>
            </div>
        </div>
    </section>

</div>
   
    @* --------------------------------article------------------------------- *@
    <div class="psk-title Yekan mt-5 mb-4">مقالات</div>
    <div class="psk-cardWrapper">
        <section class="responsive slider">
            <div class="card p-0">
                <img src="~/Image/Article/image_1.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۵</div>
                    </div>
                </div>
                <div class="card-body" style="text-align:right;">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0 ">
                <img src="~/Image/Article/image_2.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۵</div>
                    </div>
                </div>
                <div class="card-body" style="text-align:right;">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_3.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۲۲</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_4.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۰</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_1.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۵</div>
                    </div>
                </div>
                <div class="card-body" style="text-align:right;">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0 ">
                <img src="~/Image/Article/image_2.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۵</div>
                    </div>
                </div>
                <div class="card-body" style="text-align:right;">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_3.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۲۲</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_4.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۰</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_1.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۵</div>
                    </div>
                </div>
                <div class="card-body" style="text-align:right;">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0 ">
                <img src="~/Image/Article/image_2.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۵</div>
                    </div>
                </div>
                <div class="card-body" style="text-align:right;">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_3.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۲۲</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
            <div class="card p-0">
                <img src="~/Image/Article/image_4.jpg" />
                <div class="p-0 article-label">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0 psk-card-label">
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">اردیبهشت</div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 col-12 mr-auto ml-auto p-0 psk-card-labelDate Yekan">۹۸</div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0 psk-card-labelDay Yekan">۱۰</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text Yekan">متن تست برای اخبار متن تست برای اخبار متن تست برای اخبارمتن تست برای اخبار</p>
                </div>
            </div>
        </section>
    </div>
    @* --------------------------------شرکا------------------------------- *@
<div class="customer-div mt-5">
    <div class="psk-title-center Yekan mt-5 mb-5">شرکای تجاری</div>
    <div class="psk-cardWrapper">
        <section class="responsive slider">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                @*<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
    
    @* --------------------------------گواهینامه ها------------------------------- *@
    <div class="psk-title-center Yekan mt-5 mb-5">شرکای تجاری</div>
    <div class="certificate-dive ">
        <div class="row col-lg-12 mr-auto ml-auto p-0">
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-certificate"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی اول</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-jedi"></i>
                </button>
                <p class="Yekan circle-lbl">گواهس دوم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fab fa-facebook-messenger"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی سوم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-sad-cry"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی چهارم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-key"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی پنجم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-question"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی ششم</p>
            </div>
        </div>

    </div>
    <div class="certificate-dive ">
        <div class="row col-lg-12 mr-auto ml-auto p-0">
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-certificate"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی اول</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-jedi"></i>
                </button>
                <p class="Yekan circle-lbl">گواهس دوم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fab fa-facebook-messenger"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی سوم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-sad-cry"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی چهارم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-key"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی پنجم</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6 circlebtn-div" style="text-align:center;">
                <button type="button" class="btn btn-circle ">
                    <i class="fa fa-question"></i>
                </button>
                <p class="Yekan circle-lbl">گواهی ششم</p>
            </div>
        </div>

    </div>
    @* --------------------------------فوتر------------------------------- *@
    <div class="row col-lg-12 mr-auto ml-auto  psk-footer" style="direction:rtl;">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 footer-list-div">
            <div class="row col-lg-12 mr-auto ml-auto pl-0 pr-0 footer-header Yekan">
                هدر متنی تستی
            </div>
            <ul>
                <li class="Yekan"><i class="fa fa-angle-left"></i>قوانین و مقررات</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>تماس با ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i> درباره ما</li>
            </ul>
            <div class="row col-lg-12 mr-auto ml-auto pl-0 pr-0">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="" target="_blank" href="#">
                            <i class="fab fa-facebook footer-icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" " target="_blank" href="#">
                            <i class="fab fa-twitter footer-icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" " target="_blank" href="#">
                            <i class="fab fa-skype footer-icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="" target="_blank" href="#">
                            <i class="fab fa-google footer-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 footer-list-div">
            <div class="row col-lg-12 mr-auto ml-auto pl-0 pr-0 footer-header Yekan">
                هدر متنی تستی

            </div>
            <ul>
                <li class="Yekan"><i class="fa fa-angle-left"></i>قوانین و مقررات</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>تماس با ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i> درباره ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>قوانین و مقررات</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>تماس با ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i> درباره ما</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 footer-list-div">
            <div class="row col-lg-12 mr-auto ml-auto pl-0 pr-0 footer-header Yekan">
                هدر متنی تستی

            </div>
            <ul>
                <li class="Yekan"><i class="fa fa-angle-left"></i>قوانین و مقررات</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>تماس با ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i> درباره ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>قوانین و مقررات</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>تماس با ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i> درباره ما</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 footer-list-div">
            <div class="row col-lg-12 mr-auto ml-auto pl-0 pr-0 footer-header Yekan">
                هدر متنی تستی

            </div>
            <ul>
                <li class="Yekan"><i class="fa fa-angle-left"></i>قوانین و مقررات</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>تماس با ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i> درباره ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>قوانین و مقررات</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i>تماس با ما</li>
                <li class="Yekan"><i class="fa fa-angle-left"></i> درباره ما</li>
            </ul>
        </div>
    </div>
